{
	"useTabs": false,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"singleQuote": false,
	"printWidth": 80,
	"jsxSingleQuote": false,
	"semi": true,
	"bracketSpacing": true,
	"endOfLine": "lf"
}
